@(stateForm: Form[models.State])

@import views.html.helper.FieldConstructor

@implicitField = @{
    FieldConstructor(formInput.render)
}

@main(if(stateForm("id").valueOr("").isEmpty) "New State" else "Edit State") {

    @helper.form(controllers.routes.StateController.save(), 'class -> "pure-form pure-form-aligned") {
        <fieldset>
            @if(!stateForm("id").valueOr("").isEmpty) {
                @helper.inputText(
                    stateForm("id"),
                    '_label -> "ID",
                    'class -> "form-control",
                    'hideIt -> "",
                    'type -> "hidden",
                    'required -> ""
                )
            }

            @helper.inputText(
                stateForm("name"),
                '_label -> "Name",
                'class -> "form-control",
                'required -> ""
            )

            <div class="pure-controls">
                <button type="submit" class="pure-button pure-button-primary">Submit</button>
            </div>
        </fieldset>
    }
}