@main("States"){
    <a class="pure-button pure-button-primary" href="@routes.StateController.create()">Add</a><br/><br/>

    <table id="my-ajax-table"  class="pure-table pure-table-bordered pure-table-striped">
        <thead>
            <th>Name</th>
            <th>Action</th>

        </thead>
        <tbody>
        </tbody>
    </table>
    <link rel="stylesheet"  href="@routes.Assets.versioned("stylesheets/jquery.dynatable.css")" />
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/jquery-1.7.2.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/jquery.dynatable.js")"></script>
    <script type="text/javascript">
            $('#my-ajax-table').dynatable({
                dataset: {
                    ajax: true,
                    ajaxUrl: '@routes.StateController.search()',
                    ajaxOnLoad: true,
                    records: []

                },
                writers: {
                    'action': function(record) {
                        return '<a class="pure-button pure-button-primary" href="@routes.StateController.edit(0).toString.replace("0", "")' +record['action']+ '">Edit</a>';
                    }
                }
            });
    </script>
}