aside {
    background: #1f8dd6;
    padding: 0.3em 1em;
    border-radius: 3px;
    color: #fff;
}

.dashboard-tile{
    padding:1em;
    width: 150px;
    margin-bottom:0.5em;
}

.dashboard-tile p {
    letter-spacing: normal;
    text-align: center;
}

.my-content{
    padding: 0 0.5em !important;
}

#my-ajax-table{
    padding-top: 30px;
    width: 100%;
}