@import models.forms.ReceiptFormData
@(receiptForm: Form[models.forms.ReceiptFormData], services: List[models.Service], facilities: List[models.Facility])


@import views.html.helper.FieldConstructor
@import views.html.helper.repeat

@implicitField = @{
    FieldConstructor(formMultiColumnInput.render)
}

@main(if(receiptForm("receiptId").valueOr("").isEmpty) "New Receipt" else "Edit Receipt") {

    @helper.form(controllers.routes.ReceiptController.save(), 'class -> "pure-form pure-form-stacked") {
        <div class="pure-g">
            @if(!receiptForm("receiptId").valueOr("").isEmpty) {
                @helper.inputText(
                    receiptForm("receiptId"),
                    '_label -> "ID",
                    'class -> "pure-u-23-24",
                    'hideIt -> "",
                    'type -> "hidden",
                    'required -> ""
                )
            }

            <fieldset>

                @helper.inputText(
                    receiptForm("visitorName"),
                    '_label -> "Visitor's Name",
                    'class -> "pure-u-23-24",
                    'required -> ""
                )

                @helper.inputText(
                    receiptForm("visitorAddress"),
                    '_label -> "Visitor's Address",
                    'class -> "pure-u-23-24"
                )

                @helper.inputText(
                    receiptForm("visitorPhoneNumber"),
                    '_label -> "Visitor's Phone ",
                    'class -> "pure-u-23-24",
                    'required -> ""
                )


                @helper.select(
                    receiptForm("facilityId"),
                    options = facilities.map(f => String.valueOf(f.id) -> f.name),
                    '_label -> "Facility",
                    'class -> "pure-u-23-24 select2",
                    'required -> ""
                )


                @helper.select(
                    receiptForm("purposeOfStay"),
                    options = models.PurposeOfStay.values().map(f => f.toString -> f.toString),
                    '_label -> "Purpose of Stay",
                    'class -> "pure-u-23-24 select2",
                    'required -> ""
                )
                <div class="pure-u-md-1-3"></div>

                @repeat(receiptForm("receiptItems"),min = 1){receiptItem =>

                    @helper.select(
                        receiptForm(receiptItem.name+".receiptItemServiceID"),
                        options = services.map(s => String.valueOf(s.id) -> s.name),
                        '_label -> "Service",
                        'class -> "pure-u-23-24 select2",
                        'required -> ""
                    )

                    @helper.inputText(
                        receiptForm(receiptItem.name+".receiptItemQuantity"),
                        '_label -> "Quantity",
                        'type->"number",
                        'class -> "pure-u-23-24",
                        'required -> ""
                    )

                    @if(!receiptForm(receiptItem.name+".receiptItemID").valueOr("").isEmpty) {
                        @helper.inputText(
                            receiptForm(receiptItem.name + ".receiptItemID"),
                            '_label -> "ID",
                            'class -> "pure-u-23-24",
                            'hideIt -> "",
                            'type -> "hidden",
                            'required -> ""
                        )

                    }
                  <br/>

                }

                @if(!receiptForm("visitorId").valueOr("").isEmpty) {
                    @helper.inputText(
                        receiptForm("visitorId"),
                        '_label -> "Visitors ID",
                        'class -> "pure-u-23-24",
                        'hideIt -> "",
                        'type -> "hidden",
                        'required -> ""
                    )
                }

            </fieldset>

            <div class="pure-controls">
                <button type="submit" class="pure-button pure-button-primary">Submit</button>
            </div>
        </div>
    }


    <script type="text/javascript">
    var count = @receiptForm.value().orElse(new ReceiptFormData).receiptItems.size();

        function addNewServiceItem(currentCount){

        var html = "";
    }
    </script>
}