@main("Receipts"){
    <a class="pure-button pure-button-primary" href="@routes.ReceiptController.create()">Add</a><br/><br/>
    <table id="my-ajax-table"  class="pure-table pure-table-bordered pure-table-striped">
        <thead>
            <th>Facility Name</th>
            <th>VisitorName</th>
            <th>VisitorPhoneNumber</th>
            <th>Visitor Address</th>
            <th>Purpose</th>
            <th>Total Amount</th>
            <th>Action</th>


        </thead>
        <tbody>
        </tbody>
    </table>
    <link rel="stylesheet"  href="@routes.Assets.versioned("stylesheets/jquery.dynatable.css")" />
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/jquery-1.7.2.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/jquery.dynatable.js")"></script>
    <style type="text/css">
    .button-xsmall {
        font-size: 70% !important;
        margin-left:10px;
    }
    </style>
    <script type="text/javascript">
            $('#my-ajax-table').dynatable({
                dataset: {
                    ajax: true,
                    ajaxUrl: '@routes.ReceiptController.search()',
                    ajaxOnLoad: true,
                    records: []

                },
                writers: {
                    'action': function(record) {
                        return '<a class="button-xsmall pure-button pure-button-primary" href="@routes.ReceiptController.edit(0).toString.replace("0", "")' +record['action']+ '">Edit</a>'
                                + '<a class="button-xsmall pure-button pure-button-primary" href="@routes.ReceiptController.print(0).toString.replace("0", "")' +record['action']+ '">Print</a>'
                                + '<a class="button-xsmall pure-button pure-button-primary" href="@routes.ReceiptController.pdf(0).toString.replace("0", "")' +record['action']+ '">PDF</a>';
                    }
                }
            });
    </script>
}