@(cityForm: Form[models.City], states:List[models.State])


@import views.html.helper.FieldConstructor

@implicitField = @{
    FieldConstructor(formInput.render)
}

@main(if(cityForm("id").valueOr("").isEmpty) "New City" else "Edit City" ) {

    @helper.form(controllers.routes.CityController.save(), 'class -> "pure-form pure-form-aligned") {
        <fieldset>
            @if(!cityForm("id").valueOr("").isEmpty) {
                @helper.inputText(
                    cityForm("id"),
                    '_label -> "ID",
                    'class -> "form-control",
                    'hideIt -> "",
                    'type -> "hidden",
                    'required -> ""
                )
            }

            @helper.select(
                cityForm("state.id"),
                options = states.map(s => String.valueOf(s.id) -> s.name),
                '_label -> "State",
                'class -> "form-control select2",
                'required -> ""
            )

            @helper.inputText(
                cityForm("name"),
                '_label -> "Name",
                'class -> "form-control",
                'required -> ""
            )

            <div class="pure-controls">
                <button type="submit" class="pure-button pure-button-primary">Submit</button>
            </div>
        </fieldset>
    }
}