@(facilityForm: Form[models.Facility], cities:List[models.City])


@import views.html.helper.FieldConstructor

@implicitField = @{
    FieldConstructor(formInput.render)
}

@main(if(facilityForm("id").valueOr("").isEmpty) "New Facility" else "Edit Facility" ) {

    @helper.form(controllers.routes.FacilityController.save(), 'class -> "pure-form pure-form-aligned") {
        <fieldset>
            @if(!facilityForm("id").valueOr("").isEmpty) {
                @helper.inputText(
                    facilityForm("id"),
                    '_label -> "ID",
                    'class -> "form-control",
                    'hideIt -> "",
                    'type -> "hidden",
                    'required -> ""
                )
            }

            @helper.select(
                facilityForm("city.id"),
                options = cities.map(c => String.valueOf(c.id) -> c.name),
                '_label -> "City",
                'class -> "form-control select2",
                'required -> ""
            )

            @helper.inputText(
                facilityForm("name"),
                '_label -> "Name",
                'class -> "form-control",
                'required -> ""
            )
            @helper.inputText(
                facilityForm("address"),
                '_label -> "Address",
                'class -> "form-control",
                'required -> ""
            )

            <div class="pure-controls">
                <button type="submit" class="pure-button pure-button-primary">Submit</button>
            </div>
        </fieldset>
    }
}