@(createForm: Form[models.forms.UserCreationForm], roles: List[models.Role])

@import views.html.helper.FieldConstructor

@implicitField = @{
    FieldConstructor(formInput.render)
}

@main(if(createForm("id").valueOr("0").equals("0")) "New User" else "Edit User") {

    @helper.form(controllers.routes.UserController.save(), 'class -> "pure-form pure-form-aligned") {
        <fieldset>
            @if(!createForm("id").valueOr("").isEmpty) {
                @helper.inputText(
                    createForm("id"),
                    '_label -> "ID",
                    'class -> "form-control",
                    'hideIt -> "",
                    'type -> "hidden",
                    'required -> ""
                )
            }

            @helper.inputText(
                createForm("firstName"),
                '_label -> "First Name",
                'class -> "form-control",
                'required -> ""
            )

            @helper.inputText(
                createForm("middleName"),
                '_label -> "Nick Name",
                'class -> "form-control"
            )
            @helper.inputText(
                createForm("lastName"),
                '_label -> "Last Name",
                'class -> "form-control"
            )

            @helper.inputText(
                createForm("phoneNumber"),
                '_label -> "Phone Number",
                'class -> "form-control",
                'required -> ""
            )

            @helper.inputText(
                createForm("username"),
                '_label -> "Username",
                'class -> "form-control",
                'required -> ""
            )

            @helper.inputText(
                createForm("password"),
                '_label -> "Password ",
                'class -> "form-control"
            )

            @helper.select(
                createForm("roles"),
                options = roles.map(role => String.valueOf(role.id) -> role.roleName.name.concat(" - ".concat(role.roleDescription))),
                '_label -> "Roles",
                'class -> "form-control select2",
                'required -> "",
                'multiple -> ""
            )

            <div class="pure-controls">
                <button type="submit" class="pure-button pure-button-primary">Submit</button>
            </div>
        </fieldset>

        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/select2.css")">
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/jquery-1.7.2.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/select2.js")"></script>

        <script>
                $(document).ready(function (){$(".select2").select2();});
        </script>


    }
}