@(serviceForm: Form[models.Service])


@import views.html.helper.FieldConstructor

@implicitField = @{
    FieldConstructor(formInput.render)
}

@main(if(serviceForm("id").valueOr("").isEmpty) "New Service" else "Edit Service") {

    @helper.form(controllers.routes.ServicesController.save(), 'class -> "pure-form pure-form-aligned") {
        <fieldset>
            @if(!serviceForm("id").valueOr("").isEmpty) {
                @helper.inputText(
                    serviceForm("id"),
                    '_label -> "ID",
                    'class -> "form-control",
                    'hideIt -> "",
                    'type -> "hidden",
                    'required -> ""
                )
            }



            @helper.inputText(
                serviceForm("name"),
                '_label -> "Name",
                'class -> "form-control",
                'required -> ""
            )

            @helper.inputText(
                serviceForm("amount"),
                '_label -> "Amount",
                'class -> "form-control",
                'type -> "number",
                'required -> ""
            )

            <div class="pure-controls">
                <button type="submit" class="pure-button pure-button-primary">Submit</button>
            </div>
        </fieldset>
    }
}