@main("Dashboard") {


    <div class="pure-g">
        <div class="pure-u-lg-1-3">
            <a class="tile-links" href="@routes.ReceiptController.index">
                <aside>
                    <div class="dashboard-tile" >
                        <p>Receipts</p>
                    </div>
                </aside>
            </a>
        </div>

        <div class="pure-u-lg-1-3">
            <a class="tile-links" href="@routes.FacilityController.index">
                <aside>
                    <div class="dashboard-tile" >
                        <p>Facilities</p>
                    </div>
                </aside></a>
        </div>

        <div class="pure-u-lg-1-3">
            <a class="tile-links" href="@routes.ServicesController.index">
                <aside>
                    <div class="dashboard-tile" >
                        <p>Services</p>
                    </div>
                </aside>
            </a>
        </div>

        <div class="pure-u-lg-1-3">
            <a class="tile-links" href="@routes.StateController.index">
                <aside>
                    <div class="dashboard-tile" >
                        <p>States</p>
                    </div>
                </aside>
            </a>
        </div>

       <div class="pure-u-lg-1-3">
            <a class="tile-links" href="@routes.UserController.index">
                <aside>
                    <div class="dashboard-tile" >
                        <p>Users</p>
                    </div>
                </aside>
            </a>
        </div>

        <div class="pure-u-lg-1-3">
            <a class="tile-links" href="@routes.CityController.index">
                <aside><div class="dashboard-tile" >
                    <p>Cities</p></div>
                </aside>
            </a>
        </div>

    </div>

    <style>
    aside {
        margin-right: 15px;
        margin-bottom: 15px;
    }

    .tile-links {
        text-decoration: none;
        color: #ffffff;

    }

    .tile-links:visited {
        color: #ffffff;
    }


    </style>

}