@(elements: helper.FieldElements)


<div class="pure-control-group">

    @if(!elements.args.contains('hideIt)) {
        <label for="@elements.label">
            @elements.label @if(elements.args.contains('required)) {
            <span class="required">*</span>
        }
        </label>
    }

    @elements.input
<sapn class="errors_boot">@elements.errors.mkString(", ")</sapn>

</div>
